<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>风吹过的地方,总是透着一股香气，让人沉迷于其中无法自拔，不知道为什么</string>
		<key>icon</key>
		<string>gangtiexia.jpg</string>
		<key>name</key>
		<string>风轻云淡</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>原味奶酪</string>
		<key>icon</key>
		<string>huluwa.jpg</string>
		<key>picture</key>
		<string>gangtiexia.jpg</string>
		<key>name</key>
		<string>灰灰</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>为什么爱情就是如此</string>
		<key>icon</key>
		<string>qiaoba.jpg</string>
		<key>name</key>
		<string>胖胖</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>今天跳到泥坑里面了</string>
		<key>icon</key>
		<string>lvjuren.jpg</string>
		<key>picture</key>
		<string>zhizhuxia.jpg</string>
		<key>name</key>
		<string>五四青年</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>哇哈哈</string>
		<key>icon</key>
		<string>03.jpg</string>
		<key>picture</key>
		<string>lufei.jpg</string>
		<key>name</key>
		<string>给你一支烟</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>不要问了，我最胖</string>
		<key>icon</key>
		<string>qiaoba.jpg</string>
		<key>name</key>
		<string>胖胖</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>牛还是你最牛</string>
		<key>icon</key>
		<string>mingren.jpg</string>
		<key>picture</key>
		<string>lufei.jpg</string>
		<key>name</key>
		<string>功夫熊猫</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>别骚了，一起走吧</string>
		<key>icon</key>
		<string>zhizhuxia.jpg</string>
		<key>name</key>
		<string>五四青年</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>mdzz</string>
		<key>icon</key>
		<string>mingren.jpg</string>
		<key>picture</key>
		<string>zhizhuxia.jpg</string>
		<key>name</key>
		<string>功夫熊猫</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
